*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit; /* Get rid of all font sizes and heights */
}

html {
  /* color-scheme: dark light; Default dark */
}

body {
  min-height: 100vh;
  font-family: "PressStart";
  background-color: black;
  color: white;
}

/* Media responsive */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  max-width: 75ch;
  text-wrap: pretty; /* Prevents orphans on lines */
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

a:active,
a:hover {
  color: yellow;
}

@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
  }
}

@font-face {
  font-family: "PressStart";
  src: url("./assets/fonts/PressStart2P-Regular.ttf");
}

.fc-yellow {
  color: yellow;
}

.app-container {
  height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
}

.page-container {
  display: grid;
  /* gap: 3rem; */
  margin-inline: auto;
  text-align: center;
}

button {
  padding-inline: 2rem;
  padding-block: 0.75rem;
  margin-inline: auto;
  font-family: "PressStart";
  font-size: 1.25rem;
  border: 3px solid yellow;
  border-radius: 12px;
  color: black;
  background-color: yellow;
  margin-block: 1rem;
}

button:hover {
  background-color: black;
  color: yellow;
  cursor: pointer;
}

.menu-title {
  font-family: "PressStart";
  font-size: 2rem;
  margin-bottom: 1.75rem;
}

.menu-sub-title {
  font-family: "PressStart";
  text-transform: uppercase;
  font-size: 2rem;
}

.menu-item {
  display: flex;
  flex-direction: column;
  max-width: 80vw;

  font-family: "PressStart";
  font-size: 1.5rem;
  padding: 1rem;
}

.setting-type {
  margin-block: 1rem;
}

.setting-list {
  display: flex;
  align-items: center;
  font-size: 1rem;
  flex-wrap: wrap;
  list-style-position: outside;
  list-style: none;
}

.setting-item {
  margin-inline: 1rem;
  margin-block: 0.25rem;
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  color: yellow;
  cursor: pointer;
}

.setting-item:hover {
  color: red;
}

.setting-item-active {
  color: red;
}

.game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}
.game-board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 12px;
}

.game-card {
  width: 75px;
  height: 75px;
  background-color: yellow;
  border: 4px solid white;
}

.hud-container {
  display: grid;
  gap: 1rem;
}

.leaderboard {
  display: flex;
  flex-direction: column;
}

.margin-inline-4 {
  padding-inline: 4rem;
}

.space-between {
  justify-content: space-between;
}

.leaderboard-player {
  display: flex;
  justify-content: space-between;
  margin-block: 0.25rem;
}

.leaderboard-entry-container {
  color: white;
}
