*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit; /* Get rid of all font sizes and heights */
}

html {
  /* color-scheme: dark light; Default dark */
}

body {
  min-height: 100vh;
}

/* Media responsive */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  max-width: 75ch;
  text-wrap: pretty; /* Prevents orphans on lines */
}

a {
  text-decoration: none;
  color: red;
  cursor: pointer;
}

a:active,
a:hover {
  color: blue;
}

@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
  }
}

@font-face {
  font-family: "PressStart";
  src: url("./assets/fonts/PressStart2P-Regular.ttf");
}

.app {
  height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
}

.menu {
  max-width: 60vw;
  margin-inline: auto;
  text-align: center;
}

.menu-title {
  font-family: "PressStart";
  font-size: 4rem;
  padding-block: 5rem;
}

.menu-sub-title {
  font-family: "PressStart";
  text-transform: uppercase;
  font-size: 3rem;
  padding-block: 5rem;
}

.menu-item {
  display: flex;
  flex-direction: column;
  font-family: "PressStart";
  font-size: 2rem;
  padding-block: 1.25rem;
}

.setting-type {
  margin-block: 1rem;
}

.setting-item {
  margin-inline: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  color: red;
  cursor: pointer;
}

.setting-list {
  display: flex;
  list-style: none;
}

.setting-item:hover {
  color: blue;
}

.setting-item-active {
  color: blue;
}

.game-board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.game-card {
  width: 150px;
  height: 150px;
  background-color: grey;
  border: 1px solid black;
  margin: 1rem;
}
